{% extends "layout.twig" %}
{% import "form.twig" as form %}

{% block head %}
  <title>
    Me contacter
  </title>
{% endblock %}

{% block content %}
  {# {{dump(form)}} #}
  <h1>Me contacter
    {{current_page}}</h1>
  <p>lqsdqsd dqsdsds qdsqdlml kjnsjlkq nlkqn qskm,kql,sklq,s,l,qsl kjnbksn NQSQNs</p>
  <form action="?p=contact" method="post">
    <div class="row">
      {{ form.input('name','votre nom',name, { class:'col-xs' }) }}
      {{ form.input('email','votre email',email, { class:'col-xs', type:'email' }) }}
    </div>
    {{ form.textarea('message','votre message') }}
    <div class="form-group">
      <button class="btn btn-primary" type="submit">Envoyer</button>
    </div>
  </form>
{% endblock %}
